<!DOCTYPE html>
<html>
<head>
  <title>EbolaVols</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Ebola Volunteers</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/static_pages/about">About</a></li>
          <% if user_signed_in? %>
            <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
          <% else %>
            <li><a href="/users/sign_in" accesskey="8" title="">Login</a></li>
          <% end %>
        </ul>
      </div><!--/.navbar-collapse -->
    </div>
  </nav>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
    <% if notice %>
      <p class="notice"><%= notice.html_safe %></p>
    <% end %>
    <% if alert %>
      <p class="alert"><%= alert.html_safe %></p>
    <% end %>
    <%= yield %>

  <div class="container">
    <footer>
      <p>&copy; Company 2014</p>
    </footer>
  </div>
</body>
</html>
